.vscode
paper_material
presentation
data/*
!data/STARmap/
data/STARmap/*
!data/STARmap/mouse_brain_cortex/
data/STARmap/mouse_brain_cortex/*
!data/STARmap/mouse_brain_cortex/mouse_brain_STARmap_processed.h5ad
results
docs
envs/
renv
.Rhistory
.RData
prompt.txt
.Rproj.user
computatinalbiology.Rproj
Traceback*
*__pycache__/
*tar.gz
*.tar
*.out
*.err